@tailwind base;
@tailwind components;
@tailwind utilities;

/* epubjs rendition iframe global styles */
iframe {
  border: none;
}

/* Highlight style for AI bubbles */
.epub-bubble-highlight {
  background-color: rgba(147, 51, 234, 0.1); /* Purple tint */
  border-bottom: 1px dashed rgba(147, 51, 234, 0.6); /* Purple dashed underline */
  cursor: pointer;
  padding-bottom: 2px; /* 给下划线留点空间 */
}

/* prose styles for markdown rendering */
.prose {
  --tw-prose-body: #374151;
  --tw-prose-headings: #111827;
  --tw-prose-links: #4f46e5;
  --tw-prose-bold: #111827;
  --tw-prose-counters: #6b7280;
  --tw-prose-bullets: #d1d5db;
  --tw-prose-hr: #e5e7eb;
  --tw-prose-quotes: #111827;
  --tw-prose-quote-borders: #e5e7eb;
  --tw-prose-captions: #6b7280;
  --tw-prose-code: #111827;
  --tw-prose-pre-code: #e5e7eb;
  --tw-prose-pre-bg: #1f2937;
  --tw-prose-th-borders: #e5e7eb;
  --tw-prose-td-borders: #e5e7eb;
  --tw-prose-invert-body: #d1d5db;
  --tw-prose-invert-headings: #fff;
  --tw-prose-invert-links: #a78bfa;
  --tw-prose-invert-bold: #fff;
  --tw-prose-invert-counters: #9ca3af;
  --tw-prose-invert-bullets: #4b5563;
  --tw-prose-invert-hr: #374151;
  --tw-prose-invert-quotes: #f9fafb;
  --tw-prose-invert-quote-borders: #374151;
  --tw-prose-invert-captions: #9ca3af;
  --tw-prose-invert-code: #fff;
  --tw-prose-invert-pre-code: #d1d5db;
  --tw-prose-invert-pre-bg: #030712;
  --tw-prose-invert-th-borders: #4b5563;
  --tw-prose-invert-td-borders: #4b5563;
}

.prose-purple {
  --tw-prose-links: #9333ea;
}